.container {
    padding: 50px 50px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table tr {
    border-bottom: 1px solid black;
}

table tr th,
table tr td {
    padding: 5px;
}

.form-div {
    margin-bottom: 10px;
}

.form-div form input {
    width: 43.5%;
    padding: 5px;
}

.form-div form button {
    width: 10%;
    padding: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
}
